version: '3.8'

services:
  # 1. Base de Datos Postgres (Para Productos)
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    #ports:
    # - "5432:5432"
    networks:
      - microservices-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Base de Datos MySQL (Para Órdenes)
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ordenes_db
    #ports:
    #  - "3307:3306"
    networks:
      - microservices-net
    volumes:
      - mysql_data:/var/lib/mysql 


  # 3. Microservicio 1: Catálogo (Spring Boot)
  product-service:
    build: ./product-service
    container_name: product-service
    #ports:
    #  - "8081:8081"
    depends_on:
      - postgres-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/productdb
    networks:
      - microservices-net

  # 4. Microservicio 2: Calculadora (Python)
  ms-python:
    build: ./Calculadora_de_Envios
    container_name: ms-python
    #ports:
    #  - "8082:8082"
    networks:
      - microservices-net

# 5. Microservicio 3: Gestión de Órdenes (Jakarta EE / Payara)
  ms-ordenes:
    build: ./Gestion_de_Ordenes  # <--- CAMBIO: Ahora construimos la imagen
    container_name: ms-ordenes
    #ports:
    #  - "8083:8083"
    depends_on:
      - mysql-db
      - ms-python
      - product-service
    networks:
      - microservices-net

  # 6. API Gateway (Nginx - TUYO)
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:80"
    depends_on:
      - product-service
      - ms-python
      - ms-ordenes
    networks:
      - microservices-net
  # 7. Frontend Service (Web Estática)
  frontend-service:
    build: ./frontend
    container_name: frontend-service
    networks:
      - microservices-net
networks:
  microservices-net:
    driver: bridge

volumes:
  postgres_data:
  mysql_data: # Nuevo volumen para no perder datos de MySQL