version: '3.8'

services:
  # 1. Base de Datos (MySQL)
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ordenes_db
    ports:
      - "3306:3306"
    networks:
      - mi-red

  # 2. Tu Microservicio Python (Calculadora)
  ms-python:
    build: ./Calculadora_de_Envios  # Busca el Dockerfile en tu carpeta de Python
    container_name: ms-python
    ports:
      - "8082:8082" # Puerto interno 8082 
    networks:
      - mi-red

  # 3. Tu Microservicio Java (Gestión de Órdenes)
  ms-ordenes:
    image: payara/micro:6.2023.11-jdk17
    container_name: ms-ordenes
    ports:
      - "8083:8083" # Puerto interno 8083
    volumes:
      # Inyectamos el .war generado por Maven dentro del contenedor
      - ./Gestion_de_Ordenes/target/Gestion_de_Ordenes.war:/opt/payara/deployments/ROOT.war
    depends_on:
      - mysql-db
      - ms-python
    command: --deploy /opt/payara/deployments/ROOT.war --port 8083
    networks:
      - mi-red

# Red compartida para que se vean entre ellos por nombre
networks:
  mi-red:
    driver: bridge